HOST=localhost
PORT=3000

PGUSER=your_db_user
PGPASSWORD=your_db_password
PGDATABASE=db_openjob
PGHOST=localhost
PGPORT=5432
DATABASE_URL=postgres://your_db_user:your_db_password@localhost:5432/db_openjob

ACCESS_TOKEN_KEY=your_access_token_secret_key
REFRESH_TOKEN_KEY=your_refresh_token_secret_key
